Repository OpenSourceEconomics/respy: changes, and which pre-commit hooks are due for each by the changed paths.
All: doc8, restructuredtext-lint

.pre-commit-config.yaml:

exclude: >
    (?x)^(
        .pytest_cache |
        .tox |
        respy/*.waf*.
    )$
repos:
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v1.4.0
    hooks:
    -   id: reorder-python-imports
        types: [python]
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
    -   id: check-yaml
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.7.7
    hooks:
    -   id: flake8
        types: [python]
        additional_dependencies: [
            flake8-bugbear, flake8-builtins, flake8-comprehensions, flake8-docstrings,
            flake8-eradicate, flake8-print, flake8-rst-docstrings, flake8-todo,
            pep8-naming,
        ]
        files: 'respy/.*'  # We start with a subfolder and extend the scope later.
-   repo: https://github.com/asottile/blacken-docs
    rev: v0.5.0
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black]
        types: [rst]
-   repo: https://github.com/ambv/black
    rev: 19.3b0
    hooks:
    -   id: black
        types: [python]
-   repo: local
    hooks:
    -   id: doc8
        entry: doc8
        language: system
        types: [rst]
        name: doc8 - Lint the documentation.
    -   id: restructuredtext-lint
        entry: rst-lint
        language: system
        files: '(README.rst)'
        name: restructuredtext-lint - Is the README PyPi-compliant?
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
    # -   id: identity  # Prints all files passed to pre-commits. Debugging.

Fixed tests.
  .appveyor.yml
  .travis.yml
  tox.ini
Due: none

Fixed appveyor.
  .appveyor.yml
Due: none

More refactoring and better docs.
  docs/_static/css/custom.css
  docs/_themes/nature_with_gtoc/layout.html
  docs/_themes/nature_with_gtoc/static/nature.css_t
  docs/_themes/nature_with_gtoc/theme.conf
  docs/additional_information/index.rst
  docs/api.rst
  docs/conf.py
  docs/development/api.rst
  docs/development/docker.rst
  docs/development/index.rst
  docs/development/randomness.rst
  docs/economics/index.rst
  docs/getting_started/index.rst
  docs/index.rst
  docs/software/index.rst
  respy/_numba.py
  respy/config.py
  respy/conftest.py
  respy/likelihood.py
  respy/shared.py
  respy/simulate.py
  respy/solve.py
  respy/state_space.py
  respy/tests/_former_code.py
Due: doc8

Add docs/_generated to gitignore.
  .gitignore
Due: none

Added numpydoc for parsing Numpy docstrings.
  environment.yml
  tox.ini
Due: none

Add more thesis ideas.
  docs/development/roadmap.rst
  docs/literature/Salience_and_human_capital-1.pdf
  docs/literature/Sparsity_and_human_capital.pdf
Due: doc8

Link to the pdfs.
  docs/_static/thesis_proposals/Salience_and_human_capital.pdf
  docs/_static/thesis_proposals/Sparsity_and_human_capital.pdf
  docs/development/roadmap.rst
Due: doc8

Fixed errors not reported by doc8. Why has no error occurred?
  docs/development/roadmap.rst
Due: doc8

Add More Thesis proposals (#204)
  docs/_static/thesis_proposals/Salience_and_human_capital.pdf
  docs/_static/thesis_proposals/Sparsity_and_human_capital.pdf
  docs/development/roadmap.rst
Due: doc8

Added azure as ci.
  .azure-pipelines.yml
Due: none

Added conda-forge.
  .azure-pipelines.yml
Due: none

Add testing on Windows and OSX.
  .azure-pipelines.yml
Due: none

Travis for deploy, fixed azure.
  .azure-pipelines.yml
  .travis.yml
Due: none

Fixed azure.
  .azure-pipelines.yml
  README.rst
Due: doc8, restructuredtext-lint

fix.
  .azure-pipelines.yml
  .travis.yml
Due: none

Deleted appveyor. Still Python 3.7 is running on my machine but not on remotes.
  .appveyor.yml
  .azure-pipelines.yml
Due: none

Wrong fix :).
  .azure-pipelines.yml
Due: none

Test all Windows images.
  .azure-pipelines.yml
Due: none

Fixed.
  .azure-pipelines.yml
Due: none

Hopefully only one build occurs.
  .azure-pipelines.yml
Due: none

Documented changes and updated documentation.
  CHANGES.rst
  docs/software/software-engineering.rst
Due: doc8

Add testing via Azure Pipelines (#205)
  .appveyor.yml
  .azure-pipelines.yml
  .travis.yml
  CHANGES.rst
  README.rst
  docs/software/software-engineering.rst
Due: doc8, restructuredtext-lint

Infer choices from params which simplified options even more.
  respy/config.py
  respy/pre_processing/model_processing.py
  respy/tests/random_model.py
  respy/tests/resources/regression_vault.pickle
Due: none

Simplified example models and updated tutorial.
  docs/getting_started/tutorial-model.ipynb
  respy/tests/resources/kw_data_one.yaml
  respy/tests/resources/kw_data_one_initial.yaml
  respy/tests/resources/kw_data_one_types.yaml
  respy/tests/resources/kw_data_one_types_initial.yaml
  respy/tests/resources/kw_data_three.yaml
  respy/tests/resources/kw_data_two.yaml
  respy/tests/resources/reliability_short.yaml
Due: none

Parsing choices from params. (#208)
  docs/getting_started/tutorial-model.ipynb
  respy/config.py
  respy/pre_processing/model_processing.py
  respy/tests/random_model.py
  respy/tests/resources/kw_data_one.yaml
  respy/tests/resources/kw_data_one_initial.yaml
  respy/tests/resources/kw_data_one_types.yaml
  respy/tests/resources/kw_data_one_types_initial.yaml
  respy/tests/resources/kw_data_three.yaml
  respy/tests/resources/kw_data_two.yaml
  respy/tests/resources/regression_vault.pickle
  respy/tests/resources/reliability_short.yaml
Due: none

Added base template for kw97.
  respy/config.py
  respy/tests/resources/kw_97_base.csv
  respy/tests/resources/kw_97_base.yaml
Due: none

Infer all choices from wage and nonpec in params.
  respy/pre_processing/model_processing.py
Due: none

Made _create_covariates n_wage independent. nonpec rewards are filled up with zeros.
  respy/state_space.py
Due: none

Add base params for extended model of kw97.
  respy/pre_processing/kw97_extended.csv
Due: none

Faster flexible state space, create_state_space for kw97 with njit and more.
  development/respy_notes.rst
  docs/software/numerical-methods.rst
  respy/config.py
  respy/pre_processing/model_processing.py
  respy/state_space.py
  respy/tests/_former_code.py
  respy/tests/resources/kw_97_base.csv
  respy/tests/resources/kw_97_extended.csv
  respy/tests/resources/kw_97_extended.yaml
  respy/tests/test_solve.py
Due: doc8

Everything to make KW1997 run through, but details are missing.
  development/testing/regression/run_regression.py
  respy/conditional_draws.py
  respy/config.py
  respy/likelihood.py
  respy/pre_processing/model_checking.py
  respy/pre_processing/model_processing.py
  respy/shared.py
  respy/simulate.py
  respy/solve.py
  respy/state_space.py
  respy/tests/resources/kw_97_base.csv
  respy/tests/resources/kw_97_base.yaml
  respy/tests/resources/kw_97_extended.csv
  respy/tests/resources/kw_97_extended.yaml
  respy/tests/test_data_checking.py
  respy/tests/test_model.py
  respy/tests/test_randomness.py
  respy/tests/test_solve.py
  respy/tests/utils.py
Due: none

Fixed linting.
  respy/tests/utils.py
Due: none

Added type shares to params.
  respy/tests/resources/kw_97_base.csv
  respy/tests/resources/kw_97_extended.csv
Due: none

Added kw1997 tutorial.
  docs/getting_started/simulating-kw-97.ipynb
Due: none

Added notebook to present simulation of the extended model of KW1997.
  docs/getting_started/index.rst
  docs/getting_started/simulating-kw-97.ipynb
  docs/getting_started/tutorial-kw1994-simulation.ipynb
  docs/getting_started/tutorial-kw1997-simulation.ipynb
  docs/getting_started/tutorial-model.ipynb
  docs/getting_started/tutorial-simulation.ipynb
  respy/conditional_draws.py
  respy/shared.py
  respy/tests/resources/kw_data_one.csv
Due: doc8

Fixed kw97 base model and updated documentation.
  docs/getting_started/tutorial-kw1997-simulation.ipynb
  respy/tests/resources/kw_97_base.csv
Due: none

Ignore error for cscubs link in documentation.
  docs/conf.py
Due: none

Update another notebook.
  docs/getting_started/tutorial-model.ipynb
Due: none

More cleanup.
  respy/tests/test_model.py
  respy/tests/test_solve.py
Due: none
