Repository OpenSourceEconomics/respy: changes, and which pre-commit hooks are due for each by the changed paths.
All: doc8, restructuredtext-lint

.pre-commit-config.yaml:

exclude: >
    (?x)^(
        .pytest_cache |
        .tox |
        respy/*.waf*.
    )$
repos:
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v1.4.0
    hooks:
    -   id: reorder-python-imports
        types: [python]
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
    -   id: check-yaml
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.7.7
    hooks:
    -   id: flake8
        types: [python]
        additional_dependencies: [
            flake8-bugbear, flake8-builtins, flake8-comprehensions, flake8-docstrings,
            flake8-eradicate, flake8-print, flake8-rst-docstrings, flake8-todo,
            pep8-naming,
        ]
        files: 'respy/.*'  # We start with a subfolder and extend the scope later.
-   repo: https://github.com/asottile/blacken-docs
    rev: v0.5.0
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black]
        types: [rst]
-   repo: https://github.com/ambv/black
    rev: 19.3b0
    hooks:
    -   id: black
        types: [python]
-   repo: local
    hooks:
    -   id: doc8
        entry: doc8
        language: system
        types: [rst]
        name: doc8 - Lint the documentation.
    -   id: restructuredtext-lint
        entry: rst-lint
        language: system
        files: '(README.rst)'
        name: restructuredtext-lint - Is the README PyPi-compliant?
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
    # -   id: identity  # Prints all files passed to pre-commits. Debugging.

Fix.
  development/documentation/scalability/_run.py
  development/documentation/scalability/scalability_setup.py
Due: none

Last fixes.
  development/documentation/scalability/_run.py
  development/documentation/scalability/scalability_setup.py
Due: none

Fix.
  development/documentation/scalability/run_scalability.py
  development/documentation/scalability/run_single_scalability_exercise.py
  development/documentation/scalability/scalability_setup.py
Due: none

Reworked scala.
  development/documentation/scalability/run_single_scalability_exercise.py
Due: none

Add preliminary notebook to generate graphic.
  development/documentation/scalability/fig-scalability.ipynb
  development/documentation/scalability/run_single_scalability_exercise.py
  development/documentation/scalability/scalability_setup.py
  respy/__init__.py
Due: none

Add more information to package. (#180)
  README.rst
  setup.py
Due: doc8, restructuredtext-lint

Added readthedocs.yml. (#178)
  docs/conf.py
  docs/details.rst
  docs/index.rst
  docs/specification.rst
  docs/tutorial.rst
  environment.yml
  readthedocs.yml
  respy/python/shared/shared_constants.py
Due: doc8

Added new graphics and nbsphinx.
  .gitignore
  development/documentation/scalability/fig-scalability.ipynb
  docs/Makefile
  docs/conf.py
  docs/images/scalability.respy.png
  docs/images/state_space.png
  docs/index.rst
  docs/respy.mplstyle
  docs/scalability.ipynb
  docs/scalability.rst
  docs/simulation_example.ipynb
  docs/solution_and_estimation.rst
  environment.yml
Due: doc8

Content ready.
  README.rst
  docs/Makefile
  docs/_static/css/custom.css
  docs/conf.py
  docs/respy.mplstyle
  docs/scalability.ipynb
  docs/simulation_example.ipynb
  environment.yml
Due: doc8, restructuredtext-lint

More fixes.
  CHANGES.rst
  docs/conf.py
  docs/credits.rst
  docs/details.rst
  docs/developer_doc.rst
  docs/index.rst
  docs/installation.rst
  docs/releases.rst
  readthedocs.yml
Due: doc8

Most important: Typo in KW configs.
  .readthedocs.yml
  docs/simulation_example.ipynb
  respy/pre_processing/base_spec.csv
  respy/tests/resources/kw_data_one.csv
  respy/tests/resources/kw_data_one_initial.csv
  respy/tests/resources/kw_data_one_types.csv
  respy/tests/resources/kw_data_one_types_initial.csv
  respy/tests/resources/kw_data_three.csv
  respy/tests/resources/kw_data_two.csv
  respy/tests/resources/reliability_short.csv
Due: none

RespyCls now accecpts only pathlib.Path, pd.DataFrame and dict.
  respy/pre_processing/model_processing.py
  respy/pre_processing/specification_helpers.py
  respy/tests/test_integration.py
  respy/tests/test_unit.py
Due: none

fix linting:
  respy/pre_processing/model_processing.py
  respy/pre_processing/specification_helpers.py
  respy/tests/test_unit.py
Due: none

Added some regression tests to test suite.
  respy/conftest.py
  respy/tests/test_regression.py
Due: none

Skip regression tests for fortran with python.
  environment.yml
  respy/tests/test_regression.py
Due: none

RespyCls now accepts only pathlib.Path (#182)
  respy/pre_processing/model_processing.py
  respy/pre_processing/specification_helpers.py
  respy/tests/test_integration.py
  respy/tests/test_unit.py
Due: none

Fix docstrings and restrict to 7 tests.
  respy/conftest.py
  respy/tests/test_regression.py
Due: none

Limit travis builds to pushes and tags.
  .travis.yml
Due: none

Add xfails to let 10 regression tests run.
  respy/tests/test_regression.py
Due: none

Limit travis builds to pushes and tags. (#184)
  .travis.yml
Due: none

Add a small batch of regression tests to test suite (#183)
  environment.yml
  respy/conftest.py
  respy/tests/test_regression.py
Due: none

Real update:
  docs/simulation_example.ipynb
Due: none

Add thesis ideas to documentation.
  docs/roadmap.rst
Due: doc8

Only formatting.
  docs/roadmap.rst
Due: doc8

Add thesis ideas to documentation. (#185)
  docs/roadmap.rst
Due: doc8

Fix log transformation for wages.
  docs/economic_model.rst
  docs/index.rst
  docs/model-specification.rst
  docs/simulation_example.ipynb
  docs/specification.rst
  respy/tests/resources/kw_data_one.json
  respy/tests/resources/kw_data_one_initial.json
  respy/tests/resources/kw_data_one_types.json
  respy/tests/resources/kw_data_one_types_initial.json
  respy/tests/resources/kw_data_three.json
  respy/tests/resources/kw_data_two.json
  respy/tests/resources/reliability_short.json
Due: doc8

I have removed all statsmodel dependencies.
  development/modules/auxiliary_reliability.py
  environment.yml
  respy/python/shared/shared_auxiliary.py
  respy/python/solve/solve_auxiliary.py
  respy/scripts/scripts_compare.py
  respy/tests/test_f2py.py
Due: none

Minor fixes to the solve_auxiliary.py.
  respy/python/solve/solve_auxiliary.py
Due: none

Remove statsmodels from tox and setup.py.
  setup.py
  tox.ini
Due: none

change to test_2 in f2py.py to accomodate new ols implementation.
  respy/tests/test_f2py.py
Due: none

More features.
  .pre-commit-config.yaml
  README.rst
  development/documentation/cloc/cloc_code.yaml
  development/documentation/cloc/cloc_lang_def.txt
  development/documentation/cloc/cloc_results.yaml
  development/documentation/cloc/cloc_tests.yaml
  development/documentation/cloc/cloc_unit_tests.yaml
  development/documentation/cloc/count_loc.ipynb
  development/documentation/cloc/lines_of_code_by_language.png
  docs/basics.rst
  docs/bibliography.rst
  docs/conf.py
  docs/credits.rst
  docs/docker.rst
  docs/economic_model.rst
  docs/index.rst
  docs/installation.rst
  docs/introduction.rst
  docs/model-specification.rst
  docs/numerical_methods.rst
  docs/releases.rst
  docs/reliability.rst
  docs/simulation_example.ipynb
  docs/software_engineering.rst
  docs/tutorial.ipynb
  tox.ini
Due: doc8, restructuredtext-lint

Linting and fixing.
  CHANGES.rst
  docs/conf.py
  docs/credits.rst
  docs/roadmap.rst
  docs/scalability.ipynb
  docs/software_engineering.rst
  docs/tutorial.ipynb
  tox.ini
Due: doc8

adjustments to the ols doc string in shared_auxiliary.py.
  respy/python/shared/shared_auxiliary.py
Due: none

Fixed pretty printing of jsons.
  respy/tests/resources/kw_data_one.json
  respy/tests/resources/kw_data_one_initial.json
  respy/tests/resources/kw_data_one_types.json
  respy/tests/resources/kw_data_one_types_initial.json
  respy/tests/resources/kw_data_three.json
  respy/tests/resources/kw_data_two.json
  respy/tests/resources/reliability_short.json
  tools/packer/respy.json
Due: none

Release v1.2.1
  CHANGES.rst
  docs/conf.py
  respy/__init__.py
  setup.py
Due: doc8

Modern setup.py.
  setup.py
Due: none

change to test_2 in f2py.py to fix fail.
  respy/tests/test_f2py.py
Due: none

fixes to failed checks.
  respy/python/solve/solve_auxiliary.py
  respy/tests/test_f2py.py
Due: none

Drops statsmodels dependency. (#186)
  development/modules/auxiliary_reliability.py
  environment.yml
  respy/python/shared/shared_auxiliary.py
  respy/python/solve/solve_auxiliary.py
  respy/scripts/scripts_compare.py
  respy/tests/test_f2py.py
  setup.py
  tox.ini
Due: none
