Repository OpenSourceEconomics/respy: changes, and which pre-commit hooks are due for each by the changed paths.
All: doc8, restructuredtext-lint

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: debug-statements
-   repo: https://github.com/asottile/pyupgrade
    rev: v1.23.0
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v1.6.1
    hooks:
    -   id: reorder-python-imports
        types: [python]
-   repo: https://github.com/python/black
    rev: 19.3b0
    hooks:
    -   id: black
        types: [python]
-   repo: https://github.com/asottile/blacken-docs
    rev: v1.3.0
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black]
        types: [rst]
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.7.8
    hooks:
    -   id: flake8
        types: [python]
        additional_dependencies: [
            flake8-bugbear, flake8-builtins, flake8-comprehensions, flake8-docstrings,
            flake8-eradicate, flake8-print, flake8-rst-docstrings, flake8-todo,
            pep8-naming, pydocstyle<4.0,
        ]
-   repo: local
    hooks:
    -   id: doc8
        entry: doc8
        language: system
        types: [rst]
        name: doc8 - Lint the documentation.
    -   id: restructuredtext-lint
        entry: rst-lint
        language: system
        files: '(README.rst)'
        name: restructuredtext-lint - Is the README PyPi-compliant?
# -   repo: https://github.com/mgedmin/check-manifest
#     rev: "0.39"
#     hooks:
#     -   id: check-manifest
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
    # -   id: identity  # Prints all files passed to pre-commits. Debugging.

fixed old merge conflict in index.rst
  docs/getting_started/index.rst
  respy/pre_processing/model_processing.py
Due: doc8

fixing another merge conflict
  docs/getting_started/tutorial.ipynb
Due: none

deleted unnecessary diffs
  docs/getting_started/index.rst
  respy/likelihood.py
  respy/pre_processing/model_processing.py
  respy/simulate.py
  respy/tests/random_model.py
Due: doc8

fixed bug
  respy/state_space.py
Due: none

adjsuted model check
  respy/pre_processing/model_checking.py
Due: none

Clarification in extended model.
  respy/tests/resources/kw_97_extended.csv
  respy/tests/resources/kw_97_extended.yaml
Due: none

Created new section 'Recommended Reading'
  docs/getting_started/NOTES-TODO-TIM.txt
  docs/getting_started/index.rst
  docs/getting_started/recommended-reading.rst
Due: doc8

adressing comments
  respy/pre_processing/data_checking.py
  respy/pre_processing/model_checking.py
  respy/pre_processing/model_processing.py
  respy/pre_processing/specification_helpers.py
  respy/shared.py
  respy/tests/random_model.py
Due: none

A little bit more info.
  docs/getting_started/robinson-crusoe.ipynb
Due: none

Fixed wage probability.
  respy/conditional_draws.py
Due: none

initial commit
  docs/conf.py
  docs/getting_started/introduction.rst
  docs/getting_started/robinson-crusoe.ipynb
Due: doc8

experimenting with stucture
  docs/getting_started/index.rst
  docs/getting_started/introduction.rst
  docs/getting_started/robinson-crusoe.ipynb
  docs/index.rst
  docs/replications/index.rst
  docs/replications/keane-and-wolpin-1994.ipynb
  docs/replications/keane-and-wolpin-1997.ipynb
  docs/tutorials/index.rst
  docs/tutorials/lagged-choices.ipynb
  docs/tutorials/robinson-crusoe.ipynb
Due: doc8

iterating further
  docs/getting_started/index.rst
  docs/getting_started/introduction.rst
  docs/index.rst
  docs/tutorials/robinson-crusoe.ipynb
Due: doc8

Changed max. line length to 88 and fixed duplicate reference.
  docs/getting_started/recommended-reading.rst
Due: doc8

Hopefully fix CI.
  .azure-pipelines.yml
Due: none

Tip from the internet.
  .azure-pipelines.yml
Due: none

Fix for all except Windows.
  .azure-pipelines.yml
Due: none

Trigger build
  docs/getting_started/recommended-reading.rst
Due: doc8

Include recommended reading list in the documentation (#260)
  .azure-pipelines.yml
  docs/getting_started/index.rst
  docs/getting_started/recommended-reading.rst
Due: doc8

Vectorized transform_disturbances.
  respy/shared.py
  respy/simulate.py
  respy/solve.py
Due: none

Finished one-step-ahead simulation.
  respy/data.py
  respy/likelihood.py
  respy/shared.py
  respy/simulate.py
Due: none

More fixes.
  respy/shared.py
  respy/simulate.py
Due: none

edits
  docs/tutorials/robinson-crusoe.ipynb
Due: none

Fix period error.
  respy/simulate.py
Due: none

Fixed osa sim with lagged choices.
  respy/simulate.py
Due: none

Updated docstring.
  respy/conditional_draws.py
Due: none

Update docstring.
  respy/conditional_draws.py
Due: none

New regression tests.
  respy/tests/resources/regression_vault.pickle
Due: none

Fixed conditional draws fixture.
  respy/tests/resources/conditional_draws_fixture.pickle
Due: none

Fix wage probability. (#275)
  respy/conditional_draws.py
  respy/tests/resources/conditional_draws_fixture.pickle
  respy/tests/resources/regression_vault.pickle
Due: none

further edits to the doc
  docs/getting_started/index.rst
  docs/getting_started/introduction.rst
  docs/index.rst
  docs/quickstart.rst
  docs/tutorials/index.rst
  docs/tutorials/robinson-crusoe.ipynb
Due: doc8

getting rid of KW94 in README
  README.rst
Due: doc8, restructuredtext-lint

hoping to fix ci
  .azure-pipelines.yml
Due: none

Added some packages. Changed format in simulation of choice probabilities.
  environment.yml
  respy/likelihood.py
Due: none

Zeros are 0 not 0.0.
  respy/likelihood.py
Due: none

Rewrote everything to logsumexp.
  respy/likelihood.py
Due: none

Implemented slow log_softmax.
  respy/likelihood.py
Due: none

Finished work.
  respy/likelihood.py
Due: none

Better docstring.
  respy/likelihood.py
Due: none

Replaced own softmax with scipy.special.
  respy/likelihood.py
  respy/shared.py
  respy/simulate.py
Due: none
