Repository OpenSourceEconomics/respy: changes, and which pre-commit hooks are due for each by the changed paths.
All: doc8, restructuredtext-lint

doc8:
  entry: doc8
  language: system
  name: doc8 - Lint the documentation.

restructuredtext-lint:
  entry: rst-lint
  language: system
  name: restructuredtext-lint - Is the README PyPi-compliant?

Incorporated Janos' suggestions.
  environment.yml
  respy/parallelization.py
  respy/pre_processing/model_checking.py
  respy/pre_processing/process_covariates.py
  respy/shared.py
  respy/solve.py
  respy/state_space.py
  respy/tests/test_randomness.py
  respy/tests/test_solve.py
  respy/tests/utils.py
Due: none

Separate core and dense state space. (#310)
  CHANGES.rst
  LICENSE
  README.rst
  development/testing/regression.py
  docs/api.rst
  docs/conf.py
  docs/development/randomness-and-reproducibility.rst
  docs/development/releases.rst
  docs/getting_started/index.rst
  docs/getting_started/tutorial-finite-mixture.ipynb
  docs/getting_started/tutorial-initial-conditions.ipynb
  docs/getting_started/tutorial-model-with-observables.ipynb
  docs/getting_started/tutorial-msm.ipynb
  docs/getting_started/tutorial-robinson-crusoe.ipynb
  docs/index.rst
  docs/software/reliability.rst
  environment.yml
  meta.yaml
  respy/__init__.py
  respy/config.py
  respy/interpolate.py
  respy/likelihood.py
  respy/parallelization.py
  respy/pre_processing/data_checking.py
  respy/pre_processing/model_checking.py
  respy/pre_processing/model_processing.py
  respy/pre_processing/process_covariates.py
  respy/shared.py
  respy/simulate.py
  respy/solve.py
  respy/state_space.py
  respy/tests/random_model.py
  respy/tests/test_interpolate.py
  respy/tests/test_model.py
  respy/tests/test_randomness.py
  respy/tests/test_solve.py
  respy/tests/utils.py
  setup.py
  tox.ini
Due: doc8, restructuredtext-lint

Add bottleneck.
  environment.yml
  meta.yaml
  respy/tests/test_randomness.py
  tox.ini
Due: none

Remove numexpr from testing and package.
  environment.yml
  meta.yaml
  tox.ini
Due: none

Fix test.
  respy/tests/test_randomness.py
Due: none

Prepare respy for pandas 1.0.x. (#324)
  README.rst
  environment.yml
  respy/pre_processing/model_processing.py
  respy/tests/random_model.py
  respy/tests/resources/regression_vault.pickle
  respy/tests/test_randomness.py
  respy/tests/test_simulate.py
  tox.ini
Due: doc8, restructuredtext-lint

Add template for enhancements. (#334)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/enhancement.md
Due: none

Changed a lot of stuff to incorporate numexpr.
  docs/getting_started/installation.rst
  environment.yml
  respy/config.py
  respy/likelihood.py
  respy/pre_processing/model_checking.py
  respy/shared.py
  respy/simulate.py
  respy/solve.py
  respy/state_space.py
  tox.ini
Due: doc8

Fix minor issues.
  docs/getting_started/installation.rst
  respy/data.py
Due: doc8

Add numexpr and bottleneck as optional dependencies. (#336)
  docs/getting_started/installation.rst
  environment.yml
  respy/config.py
  respy/data.py
  respy/likelihood.py
  respy/pre_processing/model_checking.py
  respy/shared.py
  respy/simulate.py
  respy/solve.py
  respy/state_space.py
  tox.ini
Due: doc8

Fixed tests.
  respy/shared.py
  respy/tests/resources/regression_vault.pickle
Due: none

Fixed tests.
  respy/tests/resources/regression_vault.pickle
Due: none

real fix.
  respy/tests/resources/regression_vault.pickle
Due: none

Better error message.
  respy/state_space.py
Due: none

Add test for weighted continuation values and two exog processes.
  respy/exogenous_processes.py
  respy/tests/test_exogenous_processes.py
Due: none

Fixed tests.
  respy/state_space.py
Due: none

Some cleanup related to types.
  respy/likelihood.py
  respy/parallelization.py
  respy/shared.py
  respy/simulate.py
  respy/state_space.py
  respy/tests/test_model.py
Due: none

Added doctest.
  respy/parallelization.py
  respy/shared.py
Due: none

Last corrections.
  respy/pre_processing/model_processing.py
  respy/state_space.py
  respy/tests/resources/robinson_crusoe_basic.csv
Due: none

Last fixes.
  CHANGES.rst
Due: doc8

add thesis abstract to projects doc
  docs/projects.rst
Due: doc8

fix pre-commit for docs
  docs/projects.rst
Due: doc8

Better parsing of observables (and exogenous processes). (#331)
  CHANGES.rst
  respy/conditional_draws.py
  respy/likelihood.py
  respy/pre_processing/model_processing.py
  respy/tests/resources/regression_vault.pickle
  respy/tests/test_model_processing.py
  respy/tests/test_process_covariates.py
Due: doc8

Move conda files to .conda.
  .conda/bld.bat
  .conda/build.sh
  .conda/conda_build_config.yaml
  .conda/meta.yaml
  .conda/release.py
  .readthedocs.yml
  bld.bat
  docs/additional_information/contributing.rst
  docs/rtd_environment.yaml
  environment.yaml
Due: doc8

Fixed paths.
  .conda/release.py
Due: none

Removed docker.
  .conda/meta.yaml
  .readthedocs.yaml
  Dockerfile
  docs/development/docker.rst
  docs/development/index.rst
  entrypoint.sh
Due: doc8

Some fixes.
  .conda/meta.yaml
  .conda/release.py
  .gitignore
  CITATION
  LICENSE
  MANIFEST.in
Due: none

Fix.
  .conda/release.py
Due: none

Fixed tests.
  .conda/release.py
  respy/conftest.py
Due: none

Some fixes.
  .conda/conda_build_config.yaml
  .conda/meta.yaml
  .conda/release.py
  respy/tests/test_model_processing.py
  tox.ini
Due: none

Upload works.
  .conda/meta.yaml
  .conda/release.py
  development/testing/regression.py
  environment.yml
  respy/__init__.py
  respy/tests/test_regression.py
  setup.py
  tox.ini
Due: none

Finished new conda upload.
  .conda/release.py
Due: none

update manifest.
  .pre-commit-config.yaml
  MANIFEST.in
Due: none

Include citation.
  CITATION
  README.rst
Due: doc8, restructuredtext-lint

descending years
  docs/projects.rst
Due: doc8

renamed rtd env.
  .readthedocs.yaml
  docs/rtd_environment.yml
Due: none

Small fixes.
  .conda/release.py
  docs/additional_information/contributing.rst
  docs/development/releases.rst
  respy/tests/test_regression.py
  tox.ini
Due: doc8

Keep 89 line length because of doc8 and Windows issue.
  tox.ini
Due: none

Add Stenzel (2020). (#338)
  docs/projects.rst
Due: doc8

Extract is inadmissible. (#333)
  .pre-commit-config.yaml
  respy/config.py
  respy/interpolate.py
  respy/likelihood.py
  respy/pre_processing/model_processing.py
  respy/shared.py
  respy/simulate.py
  respy/solve.py
  respy/state_space.py
  respy/tests/random_model.py
  respy/tests/resources/kw_94_one.csv
  respy/tests/resources/kw_94_three.csv
  respy/tests/resources/kw_94_two.csv
  respy/tests/resources/kw_97_basic.csv
  respy/tests/resources/kw_97_extended.csv
  respy/tests/resources/robinson_crusoe_basic.csv
  respy/tests/resources/robinson_crusoe_extended.csv
  respy/tests/test_interpolate.py
Due: none

Path conditions:
  doc8: any of: \.rst$
  restructuredtext-lint: any of: (README.rst)
