Repository OpenSourceEconomics/respy: changes, and which pre-commit hooks are due for each by the changed paths.
All: doc8, restructuredtext-lint

.pre-commit-config.yaml:

exclude: >
    (?x)^(
        .pytest_cache |
        .tox |
        respy/*.waf*.
    )$
repos:
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v1.4.0
    hooks:
    -   id: reorder-python-imports
        types: [python]
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
    -   id: check-yaml
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.7.7
    hooks:
    -   id: flake8
        types: [python]
        additional_dependencies: [
            flake8-bugbear, flake8-builtins, flake8-comprehensions, flake8-docstrings,
            flake8-eradicate, flake8-print, flake8-rst-docstrings, flake8-todo,
            pep8-naming,
        ]
        files: 'respy/.*'  # We start with a subfolder and extend the scope later.
-   repo: https://github.com/asottile/blacken-docs
    rev: v0.5.0
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black]
        types: [rst]
-   repo: https://github.com/ambv/black
    rev: 19.3b0
    hooks:
    -   id: black
        types: [python]
-   repo: local
    hooks:
    -   id: doc8
        entry: doc8
        language: system
        types: [rst]
        name: doc8 - Lint the documentation.
    -   id: restructuredtext-lint
        entry: rst-lint
        language: system
        files: '(README.rst)'
        name: restructuredtext-lint - Is the README PyPi-compliant?
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
    # -   id: identity  # Prints all files passed to pre-commits. Debugging.

Fix scalability graphic.
  CHANGES.rst
  docs/_static/respy.mplstyle
  docs/additional_information/bibliography.rst
  docs/additional_information/changes.rst
  docs/additional_information/contributing.rst
  docs/additional_information/credits.rst
  docs/changes.rst
  docs/development/api.rst
  docs/development/docker.rst
  docs/development/releases.rst
  docs/development/roadmap.rst
  docs/economics/economic-model.rst
  docs/economics/occ-a-params.rst
  docs/economics/occ-b-params.rst
  docs/economics/occ-c-params.rst
  docs/economics/occ-edu-params.rst
  docs/economics/occ-home-params.rst
  docs/economics/simulation-example.ipynb
  docs/economics/solution-and-estimation.rst
  docs/getting_started/installation.rst
  docs/getting_started/introduction.rst
  docs/getting_started/tutorial.ipynb
  docs/images/choice_patterns.png
  docs/images/returns_experience.png
  docs/images/returns_schooling.png
  docs/index.rst
  docs/simulation_example.ipynb
  docs/software/model-specification.rst
  docs/software/numerical-methods.rst
  docs/software/reliability.rst
  docs/software/scalability.ipynb
  docs/software/software-engineering.rst
Due: doc8

Changed mybinder and Dockerfile.
  Dockerfile
  docs/conf.py
  docs/development/docker.rst
  docs/software/model-specification.rst
  docs/software/software-engineering.rst
  environment.yml
  respy/pre_processing/specification_helpers.py
  tools/packer/respy.json
  tools/terraform/respy.tf
  tools/terraform/terraform.tfstate
  tools/terraform/terraform.tfstate.backup
Due: doc8

Changed to short commit hash all the time.
  docs/conf.py
Due: none

Fixed entrypoint.
  Dockerfile
  docs/development/docker.rst
  entrypoint.sh
Due: doc8

Removed dos2unix.
  Dockerfile
Due: none

Better setup.py, mybinder is running.
  .checkignore
  .envrc
  .gitignore
  .pre-commit-config.yaml
  Dockerfile
  MANIFEST.in
  clean
  docs/development/docker.rst
  docs/economics/simulation-example.ipynb
  docs/getting_started/tutorial.ipynb
  entrypoint.sh
  setup.py
Due: doc8

Deleted unnecessary editable installs. Update pre-commits.
  .appveyor.yml
  .pre-commit-config.yaml
  .travis.yml
  Dockerfile
  docs/software/software-engineering.rst
Due: doc8

Added missing MANIFEST.in to Docker.
  .gitignore
  Dockerfile
Due: none

fixed ci.
  .appveyor.yml
  .travis.yml
  Dockerfile
  setup.py
Due: none

Note on Docker and fixed mybinder.
  .pre-commit-config.yaml
  MANIFEST.in
  docs/development/docker.rst
  setup.py
Due: doc8

fix.
  .binder/environment.yml
  MANIFEST.in
  docs/development/docker.rst
Due: doc8

Fixed respy at version 1.2.0.
  .binder/environment.yml
Due: none

Fixed scalability exercise.
  .pre-commit-config.yaml
  development/documentation/scalability/run_single_scalability_exercise.py
  development/documentation/scalability/scalability_setup.py
Due: none

Add fortran.
  development/documentation/scalability/run_single_scalability_exercise.py
  development/documentation/scalability/scalability_setup.py
Due: none

Fixed binder and scala exer.
  .binder/environment.yml
  development/documentation/scalability/run_single_scalability_exercise.py
  development/documentation/scalability/scalability_setup.py
Due: none

Some fixes.
  .binder/environment.yml
  MANIFEST.in
  development/documentation/presentation/notebook/respy_tutorial.ipynb
  development/documentation/scalability/scalability_setup.py
  docs/_static/respy.mplstyle
  docs/conf.py
  docs/economics/simulation-example.ipynb
  docs/getting_started/installation.rst
  docs/getting_started/simulation-example.ipynb
  docs/index.rst
  docs/software/scalability.ipynb
  setup.py
Due: doc8

Fixed scalability exercise.
  development/documentation/scalability/run_single_scalability_exercise.py
  development/documentation/scalability/scalability_setup.py
  docs/_static/respy.mplstyle
  docs/getting_started/installation.rst
  docs/getting_started/simulation-example.ipynb
  docs/software/scalability.ipynb
  respy/fortran/solve/solve_auxiliary.f90
Due: doc8

Wrapped up the whole effort.
  CHANGES.rst
  docs/_static/cscubs-2019/paper.pdf
  docs/_static/cscubs-2019/presentation.pdf
  docs/_static/cscubs-2019/sources.zip
  docs/getting_started/introduction.rst
  docs/getting_started/tutorial-model.ipynb
  docs/getting_started/tutorial-simulation.ipynb
  docs/index.rst
  docs/software/scalability.ipynb
  environment.yml
Due: doc8

removed the last occurence of statsmodels.
  respy/tests/test_f2py.py
Due: none

Tox testing collects modules from conda like environment.yml.
  tox.ini
Due: none

fixed missing channel for conda packages.
  tox.ini
Due: none

Missing version change and more changes.
  CHANGES.rst
  setup.py
Due: doc8

Updated release date and some links.
  CHANGES.rst
  README.rst
Due: doc8, restructuredtext-lint

Release v1.2.1. (#187)
  CHANGES.rst
  README.rst
  docs/conf.py
  respy/__init__.py
  setup.py
Due: doc8, restructuredtext-lint

Python 3.7 failing on Appveyor.
  .appveyor.yml
Due: none

fixed gitignore and some deletions.
  .gitignore
  respy/tests/resources/in_bottom.txt
  respy/tests/resources/seed.txt
Due: none

Removed scripts.
  respy/scripts/__init__.py
  respy/scripts/scripts_check.py
  respy/scripts/scripts_compare.py
  respy/scripts/scripts_estimate.py
  respy/scripts/scripts_modify.py
  respy/scripts/scripts_simulate.py
  respy/scripts/scripts_stop.py
  respy/scripts/scripts_update.py
Due: none

Removed scalability logging.
  respy/python/interface.py
  respy/python/record/record_estimation.py
Due: none

Removed logging in simulation.
  respy/python/record/record_simulation.py
  respy/python/simulate/simulate_python.py
Due: none

Delete solution logging and fixed tests.
  respy/clsRespy.py
  respy/python/record/record_estimation.py
  respy/python/record/record_solution.py
  respy/python/solve/solve_auxiliary.py
  respy/python/solve/solve_python.py
  respy/tests/test_integration.py
  tox.ini
Due: none

Removed .restud.respy.scratch by environmental variable solution.
  docs/getting_started/tutorial-simulation.ipynb
  docs/index.rst
  docs/software/configuration.rst
  respy/python/shared/shared_constants.py
  respy/python/solve/solve_auxiliary.py
  respy/tests/resources/kw_data_one.json
  respy/tests/resources/kw_data_one_initial.json
  respy/tests/resources/kw_data_one_types.json
  respy/tests/resources/kw_data_one_types_initial.json
  respy/tests/resources/kw_data_three.json
  respy/tests/resources/kw_data_two.json
  respy/tests/resources/reliability_short.json
Due: doc8

Added test for environment variable config.
  .gitignore
  docs/software/configuration.rst
  respy/python/estimate/estimate_python.py
  respy/python/interface.py
  respy/python/solve/solve_auxiliary.py
  respy/python/solve/solve_python.py
  respy/tests/resources/kw_data_one.json
  respy/tests/resources/kw_data_one_initial.json
  respy/tests/resources/kw_data_one_types.json
  respy/tests/resources/kw_data_one_types_initial.json
  respy/tests/resources/kw_data_three.json
  respy/tests/resources/kw_data_two.json
  respy/tests/resources/reliability_short.json
  respy/tests/test_configuration.py
  respy/tests/test_integration.py
Due: doc8

Removed need for rescaling for quadratic experiences.
  docs/getting_started/tutorial-simulation.ipynb
  docs/index.rst
  docs/software/configuration.rst
  respy/python/shared/shared_constants.py
  respy/python/solve/solve_auxiliary.py
  respy/tests/resources/kw_data_one.csv
  respy/tests/resources/kw_data_one_initial.csv
  respy/tests/resources/kw_data_one_types.csv
  respy/tests/resources/kw_data_one_types_initial.csv
  respy/tests/resources/kw_data_two.csv
  respy/tests/test_configuration.py
Due: doc8

Implemented minimal interface for regression checks.
  development/modules/auxiliary_regression.py
  respy/python/interface.py
  respy/tests/codes/auxiliary.py
Due: none

Implemented minimal interface for regression create.
  development/modules/auxiliary_regression.py
Due: none

Implemented minimal interface for regression investigation.
  development/testing/regression/run_regression.py
Due: none
