Repository OpenSourceEconomics/respy: changes, and which pre-commit hooks are due for each by the changed paths.
All: doc8, restructuredtext-lint

doc8:
  entry: doc8
  language: system
  name: doc8 - Lint the documentation.

restructuredtext-lint:
  entry: rst-lint
  language: system
  name: restructuredtext-lint - Is the README PyPi-compliant?

Probably finished add_noise_to_params.
  CHANGES.rst
  respy/simulate.py
  respy/tests/random_model.py
  respy/tests/test_integration.py
Due: doc8

Split between _SingleDimStateSpace and _MultiDimStateSpace.
  docs/conf.py
  respy/__init__.py
  respy/interpolate.py
  respy/likelihood.py
  respy/parallelization.py
  respy/pre_processing/model_processing.py
  respy/simulate.py
  respy/solve.py
  respy/state_space.py
  respy/tests/random_model.py
  respy/tests/test_interpolate.py
  tox.ini
Due: none

Fixed tests.
  respy/parallelization.py
  respy/pre_processing/model_checking.py
  respy/simulate.py
  respy/tests/test_randomness.py
  respy/tests/test_solve.py
Due: none

Some simplifications.
  docs/api.rst
  respy/interpolate.py
  respy/solve.py
  respy/state_space.py
Due: doc8

Add codecov.
  .azure-pipelines.yml
  .codecov.yml
Due: none

Updated paths in codecov.
  .codecov.yml
Due: none

add m nuhler as coauthor
  docs/projects.rst
Due: doc8

adjusted line length
  docs/projects.rst
Due: doc8

Try out new flags.
  tox.ini
Due: none

Add github workflows and trimmed azure.
  .azure-pipelines.yml
  .github/workflows/continuous-integration-workflow.yml
  tox.ini
Due: none

new workflow [skip ci].
  .github/workflows/continuous-integration-workflow.yml
Due: none

new workflow [skip-ci].
  .github/workflows/continuous-integration-workflow.yml
Due: none

Actually copy repo.
  .github/workflows/continuous-integration-workflow.yml
Due: none

Do not use 3.8.
  .azure-pipelines.yml
  .github/workflows/continuous-integration-workflow.yml
  tox.ini
Due: none

Fix 3.7 on Windows:
  .github/workflows/continuous-integration-workflow.yml
Due: none

Fix 3.7 on Windows by adding scipy.
  .github/workflows/continuous-integration-workflow.yml
Due: none

Fix.
  .github/workflows/continuous-integration-workflow.yml
  README.rst
  development/documentation/cloc/cloc_lang_def.txt
  development/documentation/cloc/count_loc.ipynb
  development/documentation/cloc/lines_of_code_by_language.png
  development/documentation/presentation/graphs/respy_rtd.png
  development/documentation/presentation/slides/respy_presentation.pdf
  development/documentation/presentation/slides/respy_presentation.tex
  docs/software/index.rst
  docs/software/software-engineering.rst
  tox.ini
Due: doc8, restructuredtext-lint

Use codecov action.
  .github/workflows/continuous-integration-workflow.yml
Due: none

More badges.
  README.rst
Due: doc8, restructuredtext-lint

Some fixes.
  CHANGES.rst
  respy/conftest.py
  respy/pre_processing/model_checking.py
  tox.ini
Due: doc8

Remove notebooks on model complexity.
  docs/getting_started/index.rst
  docs/getting_started/tutorial-model-complexity.ipynb
Due: doc8

Allow for pandas 1.0.x.
  environment.yml
  tox.ini
Due: none

New posargs for pytest.
  .github/workflows/continuous-integration-workflow.yml
  tox.ini
Due: none

Fix codecov parsing.
  .codecov.yml
Due: none

Make test suite more random and add add_noise_to_params, move to Github Actions, etc.. (#320)
  .azure-pipelines.yml
  .codecov.yml
  .github/workflows/continuous-integration-workflow.yml
  CHANGES.rst
  README.rst
  development/documentation/cloc/cloc_lang_def.txt
  development/documentation/cloc/count_loc.ipynb
  development/documentation/cloc/lines_of_code_by_language.png
  development/documentation/presentation/graphs/respy_rtd.png
  development/documentation/presentation/slides/respy_presentation.pdf
  development/documentation/presentation/slides/respy_presentation.tex
  docs/software/index.rst
  docs/software/software-engineering.rst
  environment.yml
  respy/__init__.py
  respy/conftest.py
  respy/pre_processing/model_checking.py
  respy/pre_processing/model_processing.py
  respy/simulate.py
  respy/tests/random_model.py
  respy/tests/resources/kw_2000.csv
  respy/tests/resources/kw_97_basic.csv
  respy/tests/resources/kw_97_extended.csv
  respy/tests/test_integration.py
  respy/tests/test_method_of_simulated_moments.py
  respy/tests/test_model.py
  respy/tests/test_randomness.py
  respy/tests/test_replication_kw_94.py
  respy/tests/test_replication_kw_97.py
  respy/tests/test_simulate.py
  respy/tests/test_solve.py
  respy/tests/utils.py
  tox.ini
Due: doc8, restructuredtext-lint

Restructure likelihood.py for #310 and estimagic's comparison plot. (#313)
  .pre-commit-config.yaml
  respy/conditional_draws.py
  respy/likelihood.py
  respy/shared.py
Due: none

Retrigger tests.
  README.rst
Due: doc8, restructuredtext-lint

Add threshholds because test coverage varies due to random tests.
  .codecov.yml
Due: none

Add M. Bhuller to reference. (#327)
  .codecov.yml
  README.rst
  docs/projects.rst
Due: doc8, restructuredtext-lint

Remove link in index.rst.
  docs/getting_started/index.rst
Due: doc8

Rename codecov.
  codecov.yml
Due: none

Clean documentation. (#309)
  README.rst
  codecov.yml
  docs/getting_started/index.rst
  docs/getting_started/tutorial-lagged-choices.ipynb
Due: doc8, restructuredtext-lint

Some additions.
  .codecov.yml
  LICENSE
  docs/api.rst
  docs/conf.py
  respy/interpolate.py
  respy/likelihood.py
  respy/shared.py
  respy/simulate.py
Due: doc8

Fix sphinx errors.
  docs/api.rst
  respy/interpolate.py
  respy/shared.py
  respy/simulate.py
  respy/solve.py
Due: doc8

Better documentation in the interpolation.
  respy/interpolate.py
Due: none

Fixed regression tests for pandas=1.0.0 because the internal structure of dfs has changed.
  respy/tests/resources/regression_vault.pickle
Due: none

comment.
  respy/shared.py
Due: none

Some fixes.
  docs/conf.py
  docs/index.rst
  respy/config.py
  respy/pre_processing/model_checking.py
  setup.py
Due: doc8

Removed unnecessary changes.
  .codecov.yml
  README.rst
Due: doc8, restructuredtext-lint

Path conditions:
  doc8: any of: \.rst$
  restructuredtext-lint: any of: (README.rst)
