Repository OpenSourceEconomics/respy: changes, and which pre-commit hooks are due for each by the changed paths.
All: doc8, restructuredtext-lint

.pre-commit-config.yaml:

exclude: >
    (?x)^(
        .pytest_cache |
        .tox |
        respy/*.waf*.
    )$
repos:
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v1.4.0
    hooks:
    -   id: reorder-python-imports
        types: [python]
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
    -   id: check-yaml
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.7.7
    hooks:
    -   id: flake8
        types: [python]
        additional_dependencies: [
            flake8-bugbear, flake8-builtins, flake8-comprehensions, flake8-docstrings,
            flake8-eradicate, flake8-print, flake8-rst-docstrings, flake8-todo,
            pep8-naming,
        ]
        files: 'respy/.*'  # We start with a subfolder and extend the scope later.
-   repo: https://github.com/asottile/blacken-docs
    rev: v0.5.0
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black]
        types: [rst]
-   repo: https://github.com/ambv/black
    rev: 19.3b0
    hooks:
    -   id: black
        types: [python]
-   repo: local
    hooks:
    -   id: doc8
        entry: doc8
        language: system
        types: [rst]
        name: doc8 - Lint the documentation.
    -   id: restructuredtext-lint
        entry: rst-lint
        language: system
        files: '(README.rst)'
        name: restructuredtext-lint - Is the README PyPi-compliant?
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
    # -   id: identity  # Prints all files passed to pre-commits. Debugging.

typo.
  doc/source/docker.rst
Due: doc8

Small fix.
  respy/python/estimate/estimate_python.py
  respy/python/evaluate/evaluate_python.py
  respy/tests/test_f2py.py
  tox.ini
Due: none

Fixed documentation.
  development/respy_notes.rst
  docs/basics.rst
  docs/bibliography.rst
  docs/changes.rst
  docs/contributing.rst
  docs/credits.rst
  docs/details.rst
  docs/developer_doc.rst
  docs/economic_model.rst
  docs/index.rst
  docs/introduction.rst
  docs/numerical_methods.rst
  docs/occ_a_params.rst
  docs/occ_b_params.rst
  docs/occ_c_params.rst
  docs/reliability.rst
  docs/scalability.rst
  docs/software_engineering.rst
  docs/solution_and_estimation.rst
  docs/specification.rst
  docs/tutorial.rst
  tox.ini
Due: doc8

Fixed flake8 errors.
  development/documentation/reliability/run_reliability.py
  development/documentation/scalability/run_scalability.py
  development/modules/auxiliary_release.py
  development/modules/clsMail.py
  development/testing/property/run_property.py
  development/testing/release/run_release.py
  respy/pre_processing/data_processing.py
  respy/pre_processing/model_checking.py
  respy/python/estimate/estimate_wrapper.py
  respy/python/evaluate/evaluate_auxiliary.py
  respy/python/evaluate/evaluate_python.py
  respy/python/interface.py
  respy/python/record/record_estimation.py
  respy/python/shared/shared_auxiliary.py
  respy/python/shared/shared_constants.py
  respy/python/simulate/simulate_auxiliary.py
  respy/python/simulate/simulate_python.py
  respy/python/solve/solve_auxiliary.py
  respy/python/solve/solve_python.py
  respy/scripts/scripts_check.py
  respy/scripts/scripts_compare.py
  respy/scripts/scripts_estimate.py
  respy/scripts/scripts_modify.py
  respy/scripts/scripts_stop.py
  respy/scripts/scripts_update.py
  respy/tests/codes/random_model.py
  respy/tests/test_f2py.py
  respy/tests/test_integration.py
  respy/tests/test_parallelism.py
  respy/tests/test_restud.py
  respy/tests/test_unit.py
Due: none

Changed README to rst. All pre-commits run through.
  README.md
  README.rst
  development/testing/property/run_property.py
  respy/scripts/scripts_modify.py
  respy/scripts/scripts_update.py
Due: doc8, restructuredtext-lint

Some additions to the documentation.
  doc/source/docker.rst
Due: doc8

Fixes.
  environment.yml
  tox.ini
Due: none

Add docs on reclaiming space with docker.
  doc/source/docker.rst
Due: doc8

Restricted tests. removed nogil.
  respy/tests/test_unit.py
Due: none

Add Docker (#171)
  Dockerfile
  doc/source/docker.rst
  environment.yml
Due: doc8

Added test for inadmissible states in state space. (#170)
  respy/python/simulate/simulate_python.py
  respy/tests/test_unit.py
  tox.ini
Due: none

Small fixes.
  .travis.yml
  respy/tests/test_parallelism.py
Due: none

Respected line lengths in docs.
  docs/docker.rst
Due: doc8

Added information on how linters work in contributing.rst.
  .gitignore
  docs/contributing.rst
  docs/credits.rst
  docs/roadmap.rst
Due: doc8

Added draft on deployment with PyPI.
  .travis.yml
  CHANGES.rst
  docs/api.rst
  docs/changes.rst
  docs/details.rst
  docs/index.rst
  docs/releases.rst
Due: doc8

Prepared rc.
  CHANGES.rst
  docs/conf.py
  docs/releases.rst
  respy/__init__.py
  setup.py
Due: doc8

fix.
  .travis.yml
Due: none

parallel testing with pytest.
  environment.yml
  tox.ini
Due: none

Added missing new line.
  .travis.yml
Due: none

Fix ImportError discovery in respy/scripts with pytest.
  tox.ini
Due: none

Add deployment via Travis (#172)
  .travis.yml
  CHANGES.rst
  docs/api.rst
  docs/bibliography.rst
  docs/changes.rst
  docs/index.rst
  docs/releases.rst
  tox.ini
Due: doc8

List all occurences of version numbers.
  docs/releases.rst
Due: doc8

More docs.
  docs/releases.rst
Due: doc8

Release v1.2.0-rc.1 (#173)
  CHANGES.rst
  docs/conf.py
  docs/releases.rst
  respy/__init__.py
  setup.py
Due: doc8

Added updated information on how to release.
  CHANGES.rst
  docs/releases.rst
Due: doc8

Update setup.py with suggestions from pyroma. Added dependencies.
  environment.yml
  setup.py
Due: none

Release v1.2.0.
  docs/conf.py
  respy/__init__.py
  setup.py
Due: none

Added readthedocs.yml.
  readthedocs.yml
Due: none

fixes.
  docs/contents.rst
  docs/specification.rst
  docs/tutorial.rst
  environment.yml
  readthedocs.yml
Due: doc8

use index.rst.
  docs/conf.py
  docs/index.rst
Due: doc8

Added more package information.
  README.rst
  setup.py
Due: doc8, restructuredtext-lint

Build package on readthedocs. Won't be necessary in the future.
  readthedocs.yml
Due: none

Fixed stupid error.
  setup.py
Due: none

Hackcy solution for readthedocs.
  docs/details.rst
  docs/index.rst
  readthedocs.yml
  respy/python/shared/shared_constants.py
Due: doc8

Added new scalability setup.
  development/documentation/scalability/_run.py
  development/documentation/scalability/scalability_setup.py
  respy/pre_processing/model_processing.py
Due: none

Switched to lbfgsb and keep temp folders to check maxeval.
  development/documentation/scalability/_run.py
  development/documentation/scalability/scalability_setup.py
  respy/python/interface.py
  respy/wscript
Due: none

Finished scala.
  development/documentation/scalability/_run.py
Due: none

fix.
  respy/wscript
Due: none
