Repository OpenSourceEconomics/respy: changes, and which pre-commit hooks are due for each by the changed paths.
All: doc8, restructuredtext-lint

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: debug-statements
-   repo: https://github.com/asottile/pyupgrade
    rev: v1.23.0
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v1.6.1
    hooks:
    -   id: reorder-python-imports
        types: [python]
-   repo: https://github.com/python/black
    rev: 19.3b0
    hooks:
    -   id: black
        types: [python]
-   repo: https://github.com/asottile/blacken-docs
    rev: v1.3.0
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black]
        types: [rst]
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.7.8
    hooks:
    -   id: flake8
        types: [python]
        additional_dependencies: [
            flake8-bugbear, flake8-builtins, flake8-comprehensions, flake8-docstrings,
            flake8-eradicate, flake8-print, flake8-rst-docstrings, flake8-todo,
            pep8-naming, pydocstyle<4.0,
        ]
-   repo: local
    hooks:
    -   id: doc8
        entry: doc8
        language: system
        types: [rst]
        name: doc8 - Lint the documentation.
    -   id: restructuredtext-lint
        entry: rst-lint
        language: system
        files: '(README.rst)'
        name: restructuredtext-lint - Is the README PyPi-compliant?
# -   repo: https://github.com/mgedmin/check-manifest
#     rev: "0.39"
#     hooks:
#     -   id: check-manifest
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes
    # -   id: identity  # Prints all files passed to pre-commits. Debugging.

Finish bumpversion.
  docs/conf.py
  setup.cfg
Due: none

Multiple changes.
  .pre-commit-config.yaml
  meta.yaml
  respy/simulate.py
  tox.ini
Due: none

Missing conda-build.
  tox.ini
Due: none

Updated script.
  release.py
Due: none

More features.
  release.py
Due: none

Some changes.
  respy/config.py
  respy/likelihood.py
  respy/shared.py
Due: none

Fixed tests.
  tox.ini
Due: none

Readded pr template.
  .github/pull_request_template.md
Due: none

Added new maintainers manual.
  docs/development/how-to-maintain.rst
  docs/development/index.rst
  docs/development/releases.rst
Due: doc8

Add more docs.
  docs/development/randomness-and-reproducibility.rst
Due: doc8

Changed installation instructions, removed travis, added new badges.
  .travis.yml
  CHANGES.rst
  README.rst
  docs/additional_information/changes.rst
  docs/development/how-to-maintain.rst
  docs/getting_started/installation.rst
  docs/index.rst
  docs/software/software-engineering.rst
  respy/__init__.py
Due: doc8, restructuredtext-lint

Fixed linting error.
  respy/simulate.py
Due: none

Fix liniting. Add note how functions relate.
  respy/shared.py
  respy/simulate.py
Due: none

Add more documentation on seeds (Closes #273). (#291)
  docs/development/randomness-and-reproducibility.rst
  respy/simulate.py
Due: doc8

Fixed docs.
  docs/conf.py
  docs/development/randomness-and-reproducibility.rst
  respy/shared.py
  respy/simulate.py
  respy/solve.py
Due: doc8

changed list to array
  respy/pre_processing/model_processing.py
Due: none

Remove how-to-maintain and go with old version.
  docs/development/how-to-maintain.rst
  docs/development/index.rst
  docs/development/releases.rst
Due: doc8

Use estimagic from ose.
  environment.yml
  tox.ini
Due: none

Release.py delete __pycache__ folder which cause errors on Windows.
  release.py
Due: none

Many changes.
  CHANGES.rst
  Dockerfile
  README.rst
  docs/additional_information/contributing.rst
  docs/conf.py
  docs/development/docker.rst
  docs/economics/economic-model.rst
  docs/getting_started/installation.rst
Due: doc8, restructuredtext-lint

Added QRMC to changes.
  CHANGES.rst
Due: doc8

Merged develop into osa-sim.
  .pre-commit-config.yaml
  CITATION
  development/documentation/presentation/slides/respy_presentation.tex
  docs/conf.py
  docs/development/roadmap.rst
  docs/economics/occ-b-params.rst
  docs/getting_started/index.rst
  docs/getting_started/recommended-reading.rst
  docs/getting_started/tutorial-model-with-observables.ipynb
  docs/results/reliability.respy.info
  respy/likelihood.py
  respy/pre_processing/data_checking.py
  respy/pre_processing/model_checking.py
  respy/pre_processing/model_processing.py
  respy/pre_processing/specification_helpers.py
  respy/shared.py
  respy/simulate.py
  respy/state_space.py
  respy/tests/random_model.py
  respy/tests/test_data_checking.py
  respy/tests/test_randomness.py
  respy/tests/test_simulate.py
  respy/tests/test_solve.py
  tox.ini
Due: doc8

Fixed some errors and started tutorial notebook.
  docs/getting_started/tutorial-simulation.ipynb
  respy/simulate.py
Due: none

Added to docs.
  docs/getting_started/index.rst
Due: doc8

Some simplifications.
  respy/pre_processing/model_checking.py
  respy/shared.py
Due: none

Moved fixture for regression tests, added pytest to runtime dependencies.
  environment.yml
  meta.yaml
  respy/conftest.py
  respy/tests/test_regression.py
Due: none

Included tox.ini for pytest configuration.
  release.py
  setup.py
Due: none

Added release candidates.
  setup.cfg
Due: none

Prepare release of 2.0.0dev1
  docs/conf.py
  respy/__init__.py
  setup.cfg
  setup.py
Due: none

Add tox.ini.
  setup.py
Due: none

Make respy conda installable (#261)
  .azure-pipelines.yml
  .pre-commit-config.yaml
  .travis.yml
  CHANGES.rst
  Dockerfile
  README.rst
  bld.bat
  build.sh
  conda_build_config.yaml
  development/testing/regression.py
  docs/additional_information/changes.rst
  docs/additional_information/contributing.rst
  docs/conf.py
  docs/development/docker.rst
  docs/economics/economic-model.rst
  docs/getting_started/installation.rst
  docs/index.rst
  docs/software/software-engineering.rst
  environment.yml
  meta.yaml
  release.py
  respy/__init__.py
  respy/conftest.py
  respy/tests/test_regression.py
  setup.cfg
  setup.py
  tox.ini
Due: doc8, restructuredtext-lint

Changed default to Sobol and 200 draws. Fixed regression tests.
  respy/config.py
  respy/likelihood.py
  respy/shared.py
  respy/state_space.py
  respy/tests/resources/regression_vault.pickle
Due: none

Keep random for replications.
  Dockerfile
  respy/tests/resources/kw_94_one.yaml
  respy/tests/resources/kw_94_three.yaml
  respy/tests/resources/kw_94_two.yaml
  respy/tests/resources/kw_97_basic.yaml
  respy/tests/resources/kw_97_extended.yaml
Due: none

Some improvements.
  respy/shared.py
  respy/simulate.py
  respy/solve.py
Due: none

remove logging statement and fix error.
  respy/likelihood.py
Due: none

Removed default for create_base_draws to force explicit choice.
  respy/shared.py
  respy/simulate.py
Due: none

Other changes.
  docs/api.rst
  respy/__init__.py
  respy/simulated_method_of_moments.py
  respy/tests/test_randomness.py
Due: doc8
